In [31]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [32]:
credit = pd.read_csv("./data/credit.csv")
credit

,id,limit_balance,gender,education,marriage,age,payment_1,payment_2,payment_3,payment_4,...,bill_amt6,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default,age_class,limit_class
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1,Young,Bronze
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1,Young,Bronze
2,3,90000.0,2,2,2,34,0,0,0,0,...,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0,Young,Bronze
3,4,50000.0,2,2,1,37,0,0,0,0,...,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0,Young,Bronze
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0,Old,Bronze
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000.0,1,3,1,39,0,0,0,0,...,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0,Young,Bronze
29996,29997,150000.0,1,3,2,43,-1,-1,-1,-1,...,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0,Old,Bronze
29997,29998,30000.0,1,2,2,37,4,3,2,-1,...,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1,Young,Bronze
29998,29999,80000.0,1,3,1,41,1,-1,0,0,...,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1,Old,Bronze
29999,30000,50000.0,1,2,1,46,0,0,0,0,...,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1,Old,Bronze

In [33]:
X = credit.drop(["default", "limit_class", "age_class"], axis=1)
y = credit["default"]

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [35]:
reg = LogisticRegression(max_iter=1000)
reg.fit(X_train, y_train)

c:\Users\user\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(max_iter=1000)

In [36]:
y_pred = reg.predict(X_test)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [37]:
print("Accuracy:", accuracy_score(y_test, y_pred) * 100,"%")

Accuracy: 81.06666666666666 %

In [41]:
new_data = pd.read_csv("./data/sample_credit_data.csv")

In [42]:
new_data

,id,limit_balance,gender,education,marriage,age,payment_1,payment_2,payment_3,payment_4,...,bill_amt3,bill_amt4,bill_amt5,bill_amt6,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6
0,24,450000,2,1,1,40,-2,-2,-2,-2,...,1473,560,0,0,19428,1473,560,0,0,1128
1,25,90000,1,1,2,23,0,0,0,-1,...,0,5398,6360,8292,5757,0,5398,1200,2045,2000
2,26,50000,1,3,2,23,0,0,0,0,...,36023,28967,29829,30046,1973,1426,1001,1432,1062,997
3,27,60000,1,1,2,27,1,-2,-1,-1,...,259,-57,127,-189,0,1000,0,500,0,1000
4,28,50000,2,3,2,30,0,0,0,0,...,17163,17878,18931,19617,1300,1300,1000,1500,1000,1012
5,29,50000,2,3,1,47,-1,-1,-1,-1,...,3416,2040,30430,257,3415,3421,2044,30430,257,0
6,30,50000,1,1,2,26,0,0,0,0,...,17496,17907,18375,11400,1500,1500,1000,1000,1600,0
7,31,230000,2,1,2,27,-1,-1,-1,-1,...,13266,15339,14307,36923,17270,13281,15339,14307,37292,0
8,32,50000,1,2,2,33,2,0,0,0,...,22102,22734,23217,23680,1718,1500,1000,1000,1000,716
9,33,100000,1,1,2,32,0,0,0,0,...,82880,80958,78703,75589,3023,3511,3302,3204,3200,2504
10,34,500000,2,2,1,54,-2,-2,-2,-2,...,22722,7521,71439,8981,4152,22827,7521,71439,981,51582

In [43]:
predicted = reg.predict(new_data)

In [47]:
predicted

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [48]:
new_data["defalt"] = predicted

In [49]:
new_data

,id,limit_balance,gender,education,marriage,age,payment_1,payment_2,payment_3,payment_4,...,bill_amt4,bill_amt5,bill_amt6,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,defalt
0,24,450000,2,1,1,40,-2,-2,-2,-2,...,560,0,0,19428,1473,560,0,0,1128,0
1,25,90000,1,1,2,23,0,0,0,-1,...,5398,6360,8292,5757,0,5398,1200,2045,2000,0
2,26,50000,1,3,2,23,0,0,0,0,...,28967,29829,30046,1973,1426,1001,1432,1062,997,0
3,27,60000,1,1,2,27,1,-2,-1,-1,...,-57,127,-189,0,1000,0,500,0,1000,0
4,28,50000,2,3,2,30,0,0,0,0,...,17878,18931,19617,1300,1300,1000,1500,1000,1012,0
5,29,50000,2,3,1,47,-1,-1,-1,-1,...,2040,30430,257,3415,3421,2044,30430,257,0,0
6,30,50000,1,1,2,26,0,0,0,0,...,17907,18375,11400,1500,1500,1000,1000,1600,0,0
7,31,230000,2,1,2,27,-1,-1,-1,-1,...,15339,14307,36923,17270,13281,15339,14307,37292,0,0
8,32,50000,1,2,2,33,2,0,0,0,...,22734,23217,23680,1718,1500,1000,1000,1000,716,0
9,33,100000,1,1,2,32,0,0,0,0,...,80958,78703,75589,3023,3511,3302,3204,3200,2504,0
10,34,500000,2,2,1,54,-2,-2,-2,-2,...,7521,71439,8981,4152,22827,7521,71439,981,51582,0

In [50]:
new_data.to_csv("./data/predicted.csv")